// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,100,400);
@import "elements.less";
*{
	box-sizing: border-box;
}
a,a:visited{
	text-decoration: none;
	color:#26b;
}
img{
	max-width: 100%;
}
body{
	padding: 0;
	margin: 0;
	font-family: "Lato", "Helvetica Neue", Helvetica, Sans-Serif;
	font-size: 20px;
	letter-spacing: -.3px;
	background: #fafafa;
	// background-image: url(/assets/img/triangle-pattern.png);
	background-repeat: repeat;
	background-position: 0 0;
	background-attachment: fixed;
}
.marker{
	position: absolute;
	background: #F92122;
	width: 25px;
	height: 5px;
	left: 20px;
	top:20px;
	z-index: 999;
}
#menu{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	visibility:hidden;
	.opacity(0);
	.transition(.4s);
	background: #ffda4b;
	background: rgba(255,218,75,.94);
	color: #fff;
	text-align: center;
	padding: 100px 50px 50px 50px;
	z-index: 97;
	a{
		color: #fffcbe;
		text-transform: uppercase;
		letter-spacing: -1px;
		line-height: 38px;
		font-size: 40px;
		font-family: Arial;
		font-weight: bold;
		display: block;
		margin:-50px 10px 10px 10px;
		.transition(.2s);
		.transition-delay(.2s);
		&:hover{
			color: #fff;
			.transition-delay(0);
		}
	}
}
.active-menu #menu{
	visibility:visible;
	.opacity(1);
	a{
		margin:10px;
	}
}
#menu-toggle{
	position: fixed;
	cursor: pointer;
	top: 10px;
	left: 10px;
	padding: 10px;
	width: 55px;
	height: 55px;
	z-index: 99;
	overflow: visible;
	.transition(.2s);
	background: rgba(0,0,0,0.2);
	span{
		position: absolute;
		display: block;
		top: 12px;
		left: 10px;
		width: 35px;
		height: 6px;
		background: #fff;
		.transition(.4s);
		&:nth-child(2){
			top: 24px;
		}
		&:nth-child(3){
			top: 36px;
		}
	}
	&:hover{
		background: rgba(255,255,255,0.4);
		span{
			background: #000;
		}
		.scale(1.05);
	}
}
.active-menu #menu-toggle{
	.rounded(55px);
	span{
		background: #ffffff;
		&:nth-child(2){
			.opacity(0);
		}
		&:nth-child(1){
			top:26px;
			.rotation(45deg);
		}
		&:nth-child(3){
			top:26px;
			.rotation(-45deg);
		}
	}
}
main{
	padding-top:0;
	.transform(perspective(2000px));
	position: fixed;
	top:0;
	left:0;
	right: 0;
	#intro{
		.wrap{
			max-width: 95%;
			margin:0 auto;
			padding: 50px;
			h3{
				margin: 0;
				font-size: 180px;
				line-height: 1;
				letter-spacing: 0;
				font-weight: bold;
				color: #fff;
				text-shadow: 10px -10px 0 #000;
			}
		}
	}
	#first{
		width: 880px;
		max-width: 90%;
		margin: 0 auto;
		header{
			background: #fff;
			h1{
				font-weight: bold;
				text-align: left;
				font-size: 60px;
				color:#26b;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					left: 0;
					width: 412px;
					max-width: 100%;
					height: 9px;
					background: #26b;
					bottom: -30px;
				}
				strong{
					text-shadow:2px 2px 0 #26b;
				}
				// .hi{
				// 	display: block;
				// 	// font-size:80px;
				// 	font-weight: 100;
				// 	color: #b26;
				// }
				.role{
					display: block;
				}
				// .city{
				// 	font-weight: 100;
				// 	color: #26b;
				// 	// color: #fff;
				// }
			}
			h2{
				font-size:24px;
				margin: 0;
				font-weight: 100;
			}
			.mission{
				color: #26b;
			}
		}
	}
	#second{
		background: #fff;
		height: 800px;
		padding: 50px;
		display: block;
		overflow: hidden;
		width: 100%;
		position: relative;
		// .box-shadow(0 0 20px rgba(0,0,0,.4));
		.progress{
			position: absolute;
			top: 5px;
			left: 0;
			width: 0;
			height: 5px;
			background: #26b;
			z-index: 2;
		}
		.wrap{
			width: 999999px;
			height: 640px;
			position: relative;
		}
		&.ready{
			figure{
				&.show{
					.transition(.1s);
				}
			}
		}

		.wrap figure{
			position: relative;
			top:30px;
			left: 4000px;
			float: left;
			margin-left:-140px;
			height: 510px;
			width: 287px;
			.transition(1s);
			.transform(perspective(640px) rotateY(0) translate(0,0));
			p{
				position: absolute;
				bottom: 0;
				background: rgba(255,255,255,.9);
				margin: 0;
				padding: 10px;
				.opacity(0);
			}
			&:first-child{
				margin-left:0;
			}
			&.show{
				left:0;
				.transform(perspective(640px) rotateY(-20deg) translate(0,0));
				&.active:first-child,&:first-child,&:hover:first-child{
					margin-left: 40px;
				}
				&.active, &:hover{
					.transform(perspective(640px) rotateY(0) translate(6px,34px) scale(1.1));
					margin-left: -29px;
					top:0;
					p{
						.opacity(.1);
						.transition(.2s);
					}
					&:hover{
						p{
							.opacity(1);
						}
					}
				}
			}
			&.text{
				background: rgba(55,55,55,.98);
				padding:20px;
				text-align: center;
				color: #222;
				&:hover{
					color: #111;
				}
			}
			img{
				height: 100%;
				.box-shadow(2px 2px 6px rgba(120,120,120,.3));
			}
		}
	}
	.ctas{
		margin: 40px 0 0 0;
	}
	.cta{
		color:#fff;
		background: #71c48d;
		padding: 12px 20px;
		.rounded(4px);
		.transition(.2s);
		text-align: center;
		&:hover{
			background: #539069;
		}
	}
	.divider{
		text-align: center;
		margin:50px 0;
		b{
			display: inline-block;
			width: 8px;
			height: 8px;
			.rounded(8px);
			background: #ebebeb;
			margin: 8px;
		}
	}
	.focus{
		padding: 30px 0;
	}
	.grid{
		.clearfix;
		.col{
			display: inline-block;
			float: left;
			&.third{
				width: 31.333%;
				margin-left: 3%;
				&:first-child{
					margin-left: 0;
				}
			}
		}
	}
	.history{
		h2{
			font-size: 44px;
			font-weight: bold;
			padding: 0 20px;
		}
	}
	.logitem{
		background: #fff;
		position: relative;
		border-left:5px solid #f7f7f7;
		margin:20px 0;
		padding: 20px;
		.transition(.2s);
		h3{
			margin: 0;
		}
		.time{
			font-size: 14px;
			font-weight: 100;
		}
		&:hover{
			padding: 30px 20px;
		}
	}
	#third{
		width: 880px;
		max-width: 90%;
		margin: 0 auto;
		.wrap{
			position: relative;
		}
		.cta{
			background: #000;
			.rounded(0);
			display: block;
			position: relative;
			width: 100%;
			padding: 20px;
			color: #fff;
			font-size: 36px;
			.box-shadow(8px 8px 0 0 #bbb);
			.transition(.2s);
			top:0;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 2px;
			&:hover{
				top:8px;
				background: #ffda4b;
				.box-shadow(8px -8px 0 0 #dfba3b);
				text-shadow:0 0 4px rgba(0,0,0,0.2);
			}
		}
	}
}

@media screen and (max-width: 640px){
	body{
		font-size: 16px;
	}
	main{
		position: relative;
		.grid{
			.col{
				display: block;
				float: none;
				&.third,&.two-third{
					width: 100%;
					margin-left: 0;
				}
			}
		}
		#first header{
			padding: 20px;
			h1{
				font-size: 40px;
			}
		}
		.focus{
			padding: 20px;
		}
		#second{
			display: none;
			.wrap{

			}
		}
		.history{
			h2{
				font-size: 26px;
			}
		}
	}
}

#payment{
	height: 400px;
	.inner{
		width:640px;
		max-width: 90%;
		margin:40px auto;
		height: 400px;
		.options{
			padding:0 20px;
		}
	}
}